@model QuanLyNhaHang.ViewModels.Manage.AddPhoneNumberViewModel
@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Thêm số điện thoại";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Quản lý tài khoản";
    ViewData["action"] = "Số điện thọai";
    ViewData["h2"] = "Thêm số điện thoại";
}
<form asp-controller="quanlytaikhoan" asp-action="addphonenumber" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Gửi mã xác thực</button>
        </div>
    </div>
</form>

