@model QuanLyNhaHang.ViewModels.Manage.IndexViewModel
@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Tạo quyền mới";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Quản lý tài khoản";
    ViewData["action"] = "Tổng quan";
    ViewData["h2"] = "Tổng quan";
}
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Thay đổi thông tin tài khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="quanlytaikhoan" asp-action="ChangePassword" class="btn-bracketed">Thay đổi</a>
            }
            else
            {
                <a asp-controller="quanlytaikhoan" asp-action="SetPassword" class="btn-bracketed">Tạo</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="quanlytaikhoan" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Số điện thoại có thể sử dụng như là một yếu tố thứ hai của xác minh xác thực tài khoản
            </p>
            @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="quanlytaikhoan" asp-action="AddPhoneNumber" class="btn-bracketed">Thay đổi</a>
                    <form asp-controller="quanlytaikhoan" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="quanlytaikhoan" asp-action="AddPhoneNumber" class="btn-bracketed">Thêm</a>
                }
        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                Không có phương thức xác thực tài khoản thứ hai nào
            </p>
            @if (Model.TwoFactor)
                {
                    <form asp-controller="quanlytaikhoan" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Bật <button type="submit" class="btn-link btn-bracketed">Tắt</button>
                    </form>
                }
                else
                {
                    <form asp-controller="quanlytaikhoan" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Bật</button> Tắt
                    </form>
                }
        </dd>
    </dl>
</div>
