@model QuanLyNhaHang.ViewModels.Manage.VerifyPhoneNumberViewModel
@{ 
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Xác thực số điện thọai";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Quản lý tài khoản";
    ViewData["action"] = "Xác thực số điện thoại";
    ViewData["h2"] = "Mã xác thực số điện thọai";
}

<form asp-controller="quanlytaikhoan" asp-action="VerifyPhoneNumber" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <input asp-for="PhoneNumber" type="hidden" />
    <h5>@ViewData["Status"]</h5>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Code" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Gửi</button>
        </div>
    </div>
</form>

