@model QuanLyNhaHang.Models.NHACUNGCAP

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Xóa nhà cung cấp";
    ViewData["areas"] = "Qu?n lý";
    ViewData["controller"] = "Nhà cung cấp";
    ViewData["action"] = "Xóa";
    ViewData["h2"] = "Xóa nhà cung cấp";
}
<form asp-action="Delete" id="demo-form2" data-parsley-validate="" class="" novalidate="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="MaNCC" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="MaNCC" class="form-control" />
                <span asp-validation-for="MaNCC" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="TenNCC" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="TenNCC" class="form-control" />
                <span asp-validation-for="TenNCC" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DiaChi" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoDT" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="SoDT" class="form-control" />
                <span asp-validation-for="SoDT" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoNo" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="SoNo" class="form-control" />
                <span asp-validation-for="SoNo" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NgayTao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date" id='datetimepicker1'>
                    <input disabled type="datetime" asp-for="NgayTao" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span asp-validation-for="NgayTao" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NgayDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date" id='datetimepicker1'>
                    <input disabled type="datetime" asp-for="NgayDuyet" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span asp-validation-for="NgayDuyet" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiTao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="NguoiTao" class="form-control" />
                <span asp-validation-for="NguoiTao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="NguoiDuyet" class="form-control" />
                <span asp-validation-for="NguoiDuyet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrangThaiDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="TrangThaiDuyet" class="form-control" />
                <span asp-validation-for="TrangThaiDuyet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea disabled asp-for="GhiChu" class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                <span asp-validation-for="GhiChu" class="text-danger" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="nhacungcap" class="btn btn-success pull-left">Quay lại</a>
                <input type="submit" value="Xóa" class="btn btn-danger pull-left" />
            </div>
        </div>
    </div>
</form>

