@model DATBAN

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>DATBAN</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Gio" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Gio" class="form-control" />
                <span asp-validation-for="Gio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HoTen" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ngay" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ngay" class="form-control" />
                <span asp-validation-for="Ngay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoDT" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoDT" class="form-control" />
                <span asp-validation-for="SoDT" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoNguoi" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SoNguoi" class="form-control" />
                <span asp-validation-for="SoNguoi" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
