@model QuanLyNhaHang.Models.DATBAN

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Xóa thông tin đặt bàn";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Đặt bàn";
    ViewData["action"] = "Xóa";
    ViewData["h2"] = "Xóa thông tin đặt bàn";
}
<form asp-action="Delete" id="demo-form2" data-parsley-validate="" class="" novalidate="">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Gio" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="Gio" id="time" class="form-control" />
                <span asp-validation-for="Gio" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HoTen" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="HoTen" type="text" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ngay" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="Ngay" type="date" id="date" class="form-control" />
                <span asp-validation-for="Ngay" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoDT" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="SoDT" type="number" class="form-control" />
                <span asp-validation-for="SoDT" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoNguoi" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="SoNguoi" type="number" class="form-control" />
                <span asp-validation-for="SoNguoi" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NgayTao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                    <input disabled asp-for="NgayTao" type="datetime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span asp-validation-for="NgayTao" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NgayDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group">
                    <input disabled asp-for="NgayDuyet" type="datetime" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span asp-validation-for="NgayDuyet" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiTao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="NguoiTao" class="form-control" />
                <span asp-validation-for="NguoiTao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="NguoiDuyet" class="form-control" />
                <span asp-validation-for="NguoiDuyet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrangThaiDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="TrangThaiDuyet" class="form-control" />
                <span asp-validation-for="TrangThaiDuyet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea disabled asp-for="GhiChu" class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                <span asp-validation-for="GhiChu" class="text-danger" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="datban" class="btn btn-success pull-left">Quay lại</a>
                <input type="submit" value="Xóa" class="btn btn-danger pull-left" />
            </div>
        </div>
    </div>
</form>
