<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <br />
        <h3>Chức năng</h3>
        <ul class="nav side-menu">
            <li>
                <a asp-action="index" asp-controller="trangchu"><i class="fa fa-home"></i> Tổng quan</a>
            </li>
            <li>
                <a><i class="fa fa-lemon-o"></i> Nhập hàng <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="search" asp-controller="yeucaunhaphang">Yêu cầu nhập hàng</a></li>
                    <li><a asp-action="search" asp-controller="hoadonnhaphang">Hóa đơn nhập hàng</a></li>
                    <li><a asp-action="search" asp-controller="phieuchi">Phiếu chi</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-diamond"></i> Bán hàng <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="search" asp-controller="luotkhach">Lượt khách</a></li>
                    <li><a asp-action="search" asp-controller="yeucaumonan">Yêu cầu món ăn</a></li>
                    <li><a asp-action="search" asp-controller="phieuthu">Phiếu thu</a></li>
                </ul>
            </li>
            <li>
                <a asp-action="search" asp-controller="datban"><i class="fa fa-list"></i> Đặt bàn </a>
            </li>
            <li>
                <a><i class="fa fa-beer"></i> Xử lý sự cố <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="search" asp-controller="loaisuco">Loại sự cố</a></li>
                    <li><a asp-action="search" asp-controller="bienbansuco">Biên bản sự cố</a></li>
                    <li><a asp-action="search" asp-controller="thiethai">Thiệt hại</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-lastfm-square"></i> Thông tin chung <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="search" asp-controller="nhanvien">Nhân viên</a></li>
                    <li><a asp-action="search" asp-controller="nhacungcap">Nhà cung cấp</a></li>
                    <li><a asp-action="search" asp-controller="nguyenlieu">Nguyên liệu</a></li>
                    <li><a asp-action="search" asp-controller="nguyenlieutrongkho">Nguyên liệu trong kho</a></li>
                    <li><a asp-action="search" asp-controller="loaimonan">Loại món ăn</a></li>
                    <li><a asp-action="search" asp-controller="monan">Món ăn</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-user"></i> Tài khoản <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-action="index" asp-controller="Quanlytaikhoan">Tổng quan</a></li>
                    <li><a asp-action="addphonenumber" asp-controller="Quanlytaikhoan">Thêm số điện thoại</a></li>
                    <li><a asp-action="changepassword" asp-controller="Quanlytaikhoan">Đổi mật khẩu</a></li>
                    <li><a asp-action="managelogins" asp-controller="Quanlytaikhoan">Quản lý đăng nhập</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Quản trị viên</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-user-plus"></i> Người dùng <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="QuanTriVien" asp-action="index">Tổng quan</a></li>
                    <li><a asp-controller="QuanTriVien" asp-action="create">Tạo mới</a></li>
                </ul>
            </li>
            <li>
                <a><i class="fa fa-user-secret"></i> Phân quyền <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a asp-controller="PhanQuyen" asp-action="index">Tổng quan</a></li>
                </ul>
            </li>
           
        </ul>
    </div>
</div>