@{ 
    ViewData["Title"] = "Thực đơn";
}
<section>
    <div style="background-color:transparent !important">
        <img src="assets/img/background-menus.jpg" class="img-responsive">
    </div>
</section>
<section class="">

    <div id="" class="new-food">
        <br>
        <h2 class="text-primary">Thực đơn mỗi ngày </h2>
        <p class="text-center text-primary">Cùng nhau khám phá những danh mục những loại món ăn ngon của chúng tôi để tìm thực đơn dành cho riêng bạn</p>

        <br><br>
        <div class="">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-image-wrapper">
                                <div class="single-items">
                                    <div class="productinfo text-center hovereffect">
                                        <img class="img-responsive" src="~/restaurant/assets/img/new1.jpg" alt="">
                                        <div class="overlay">
                                            <h2>Món khai vị</h2>
                                            <a class="info" asp-action="menudetails">Xem thêm</a>
                                        </div>
                                        <h3 class="text-success">Món khai vị</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-image-wrapper">
                                <div class="single-items">
                                    <div class="productinfo text-center hovereffect">
                                        <img class="img-responsive" src="~/restaurant/assets/img/new1.jpg" alt="">
                                        <div class="overlay">
                                            <h2>Món khai vị</h2>
                                            <a class="info" asp-action="menudetails">Xem thêm</a>
                                        </div>
                                        <h3 class="text-success">Món khai vị</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-image-wrapper">
                                <div class="single-items">
                                    <div class="productinfo text-center hovereffect">
                                        <img class="img-responsive" src="~/restaurant/assets/img/new1.jpg" alt="">
                                        <div class="overlay">
                                            <h2>Món khai vị</h2>
                                            <a class="info" asp-action="menudetails">Xem thêm</a>
                                        </div>
                                        <h3 class="text-success">Món khai vị</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="item-image-wrapper">
                                <div class="single-items">
                                    <div class="productinfo text-center hovereffect">
                                        <img class="img-responsive" src="~/restaurant/assets/img/new1.jpg" alt="">
                                        <div class="overlay">
                                            <h2>Món khai vị</h2>
                                            <a class="info" asp-action="menudetails">Xem thêm</a>
                                        </div>
                                        <h3 class="text-success">Món khai vị</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-image-wrapper">
                                <div class="single-items">
                                    <div class="productinfo text-center hovereffect">
                                        <img class="img-responsive" src="~/restaurant/assets/img/new1.jpg" alt="">
                                        <div class="overlay">
                                            <h2>Món khai vị</h2>
                                            <a class="info" asp-action="menudetails">Xem thêm</a>
                                        </div>
                                        <h3 class="text-success">Món khai vị</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-image-wrapper">
                                <div class="single-items">
                                    <div class="productinfo text-center hovereffect">
                                        <img class="img-responsive" src="~/restaurant/assets/img/new1.jpg" alt="">
                                        <div class="overlay">
                                            <h2>Món khai vị</h2>
                                            <a class="info" asp-action="menudetails">Xem thêm</a>
                                        </div>
                                        <h3 class="text-success">Món khai vị</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>