@{ 
    ViewData["Title"] = "Thực đơn chi tiết";
}

<br />
<section>
    <img src="~/restaurant/assets/img/background-menus.jpg" class="img-responsive">
</section>

<section class="">
    <div id="" class="new-food">
        <h2 class="bg-primary-editer">Thực đơn mỗi ngày </h2>

        <div class="menu-detail">
            <ul class="">
                <li class=""><a href="/khai-vi-pc,8693" title="Khai vị">Khai vị</a></li>
                <li class=""><a href="/thit-pc,8696" title="Món Thịt">Món Thịt</a></li>
                <li class=""><a href="/hai-san-pc,8697" title="Món Hải sản">Món Hải sản</a></li>
                <li class=""><a href="/rau-pc,8698" title="Món Rau">Món Rau</a></li>
                <li class=""><a href="/my---mien---pho-pc,8699" title="Mỳ - Miến - Phở">Mỳ - Miến - Phở</a></li>
                <li class=""><a href="/com-chao-pc,8700" title="Cơm - Cháo">Cơm - Cháo</a></li>
                <li class=""><a href="/canh---lau-pc,8701" title="Canh - Lẩu">Canh - Lẩu</a></li>
                <li class=""><a href="/do-uong-pc,8091" title="Đồ uống">Đồ uống</a></li>
            </ul>
        </div>
        <div class="container">
            <h3 class="text-danger text-center" style="font-style: normal; font-size: 30px"> - MÓN CÁ -</h3>
            <hr style="border-top: 1px solid #00F;">
        </div>
        <div class="">
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 left_to_right">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>
                            <img src="~/restaurant/assets/img/new.png" class="new" alt="">
                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 top_to_bottom">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>

                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 top_to_bottom">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>
                            <img src="~/restaurant/assets/img/sale.png" class="sale" alt="">
                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 right_to_left">
                                <a href="#">
                                    <div class="img">
                                        <img class="img" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>

                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                    </div>
                    <br><br><br>
                    <div class="row">
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 left_to_right">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>

                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 bottom_to_top">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>
                            <img src="~/restaurant/assets/img/sale.png" class="sale" alt="">
                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 bottom_to_top">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>
                            <img src="~/restaurant/assets/img/new.png" class="new" alt="">
                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                        <div class="col-md-3">
                            <!-- normal -->
                            <div class="ih-item circle effect2 right_to_left">
                                <a href="#">
                                    <div class="img">
                                        <img class="img-" src="~/restaurant/assets/img/new1.jpg" alt="img">
                                    </div>
                                    <div class="info">
                                        <h3>CÁ BIỂN CHIÊN GIÒN</h3>
                                        <p>Được làm từ những nguyên liệu hấp dẫn sẽ giúp bạn có một bữa ăn ngon tuyệt</p>
                                    </div>
                                </a>
                            </div>  

                            <div class="caption-item text-success">
                                <h3>215.000 VND</h3>
                                <p class="text-primary">CÁ BIỂN CHIÊN GIÒN<p>
                            </div>
                            <!-- end normal -->
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br><br>
    </div>

</section>

@section css{
    <link rel="stylesheet" type="text/css" href="~/restaurant/assets/ihover/ihover.min.css">
}
