@{
    ViewData["Title"] = "Tin tức";
}

<section id="slider">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <!--  <li data-target="#myCarousel" data-slide-to="3"></li>-->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item active">
                <a href=""><img src="~/restaurant/assets/img/news1.jpg" class="img-responsive" alt="Hai san"></a>
            </div>
            <div class="item">
                <a href=""><img src="~/restaurant/assets/img/news2.jpg" class="img-responsive" alt="không an tâm"></a>
            </div>
            <div class="item">
                <a href=""><img src="~/restaurant/assets/img/news3.jpeg" class="img-responsive" alt="slider3"></a>
            </div>

            <!--<div class="header-text hidden-xs">
                <div class="col-md-12 text-center slider-text-center">
                   <h2>Dịch vụ hấp dẫn</h2>
                </div>
            </div>-->
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<section>

    <div class="special-promotion bg-danger">
        <div class="container">
            <h2 class="text-center text-success">Tin tức nổi bật</h2>

            <div class="row bg-info">
                <div class="col-sm-5"><img class="img-responsive" src="~/restaurant/assets/img/detail1.jpg"></div>
                <div class="col-sm-7">
                    <br>
                    <h2>Chào mừng ngày nhà giáo Việt Nam</h2>
                    <p class="text-success" style="font-weight:lighter">
                        20/11 là ngày để mọi thế hệ gửi gắm tình cảm, lòng kính trọng tới Thầy, Cô giáo – những người thuyền trưởng chở chúng ta vượt bão biển phong ba. Nhân dịp này, nhà hàng Sóng xin gửi đến Quý khách chương trình ưu đãi đặc biệt Giảm giá 15% cho toàn bộ menu hoặc tặng 01 chai rượu vang nhập khẩu cao cấp từ nay đến hết ngày 20/11/2016.
                    </p>
                    </p>
                    <div class="view-detail">
                        <br><br><br>
                        <a href="detail1.html" class="button1" type="button">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row bg-info">
                <div class="col-sm-5"><img class="img-responsive" src="~/restaurant/assets/img/detail2.jpg"></div>
                <div class="col-sm-7">
                    <br>
                    <h2>Thông báo sửa chữa nhà hàng</h2>
                    <p class="text-success" style="font-weight:lighter">
                        Từ ngày 28/8/2016, nhà hàng Sóng sẽ ngừng hoạt động để sửa chữa và nâng cấp.
                    </p>
                    <div class="view-detail">
                        <br><br><br>
                        <a href="detail2.html" class="button1" type="button">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row bg-info">
                <div class="col-sm-5"><img class="img-responsive" src="~/restaurant/assets/img/detail3.jpg"></div>
                <div class="col-sm-7">
                    <br>
                    <h2>Hướng dẫn tách vỏ hàu</h2>
                    <p class="text-success" style="font-weight:lighter">
                        Hàu sữa tươi sống ăn béo và thịt hàu có chứa protein, carbohydrates đồng thời là nguồn vitamin dồi dào như vitamin A, B1, B2, B3, C, D (giúp chống lại mệt mỏi, tăng khả năng chống viêm của cơ thể và tăng cường quá trình trao đổi chất).
                    </p>
                    <div class="view-detail">
                        <br><br><br>
                        <a href="detail3.html" class="button1" type="button">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row bg-info">
                <div class="col-sm-5"><img class="img-responsive" src="~/restaurant/assets/img/detail1.jpg"></div>
                <div class="col-sm-7">
                    <br>
                    <h2>Chào mừng ngày nhà giáo Việt Nam</h2>
                    <p class="text-success" style="font-weight:lighter">
                        20/11 là ngày để mọi thế hệ gửi gắm tình cảm, lòng kính trọng tới Thầy, Cô giáo – những người thuyền trưởng chở chúng ta vượt bão biển phong ba. Nhân dịp này, nhà hàng Sóng xin gửi đến Quý khách chương trình ưu đãi đặc biệt Giảm giá 15% cho toàn bộ menu hoặc tặng 01 chai rượu vang nhập khẩu cao cấp từ nay đến hết ngày 20/11/2016.
                    </p>
                    <div class="view-detail">
                        <br><br><br>
                        <a href="detail1.html" class="button1" type="button">Xem chi tiết</a>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>

</section>