@model QuanLyNhaHang.Areas.Admin.ViewModels.LoginModel
@{ 
    Layout = null;


}
@*<div class="bg-primary panel-body"><h4>Log In</h4></div>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="Login" method="post">
    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
    <a class="btn btn-info" asp-action="GoogleLogin"
       asp-route-returnUrl="@ViewBag.returnUrl">
        Log In With Google
    </a>
</form>*@


<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đăng nhập hệ thống</title>
    <link href="~/login/style.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css"  rel="stylesheet"/>
</head>
<body>
    <br /><br />
    <div id="boxForm">
        <h2 id="title">Đăng nhập hệ thống</h2>
        <form asp-action="Login" method="post">
            <div class="text-danger" asp-validation-summary="All"></div>
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            <input asp-for="Email" type="email" class="text" placeholder="Email" required />
            <br />
            <input asp-for="Password" type="password" class="text" placeholder="Password" required />
            <br /> <br />
            <input id='rememberMe' name='rememberMe' type='checkbox'> <label>Nhớ mật khẩu</label>
            <br /> <br />
            <div class="text-center">
                <input class='button' type='submit' value='Đăng nhập'>
            </div>
            
            <a class="reset_pass" asp-area="Quan-ly" asp-controller="QuanLyTaiKhoan" asp-action="SetPassword">Quên mật khẩu</a>
            <div class="clearfix"></div>
            <br />
        </form>
    </div>
</body>
</html>
