@model QuanLyNhaHang.Models.NGUYENLIEUTRONGKHO

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Thêm nguyên li?u vào kho | Qu?n lý";
    ViewData["areas"] = "Qu?n lý";
    ViewData["controller"] = "Nguyên li?u trong kho";
    ViewData["action"] = "T?o m?i";
    ViewData["h2"] = "Thêm nguyên li?u vào kho";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">


        <div class="form-group">
            <label asp-for="MaNL" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select asp-for="MaNL" class="select2_group form-control" asp-items="ViewBag.MaNV"></select>
                <span asp-validation-for="MaNL" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoLuong" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TinhTrang" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="bienbansuco" class="btn btn-success pull-left">Quay l?i</a>
                <input type="submit" value="L?u" class="btn btn-warning pull-left" />
            </div>
        </div>
    </div>
</form>
