@model QuanLyNhaHang.Models.YEUCAUMONAN

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Cập nhật yêu cầu món ăn";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Yêu cầu món ăn";
    ViewData["action"] = "Cập nhật";
    ViewData["h2"] = "Cập nhật yêu cầu món ăn";
}
<form asp-action="Edit" id="demo-form2" data-parsley-validate="" class="" novalidate="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="MaLuot" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select asp-for="MaLuot" class="select2_group form-control" asp-items="ViewBag.maluot"></select>
                <span asp-validation-for="MaLuot" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select asp-for="MaMon" class="select2_group form-control" asp-items="ViewBag.mamon"></select>
                <span asp-validation-for="MaMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoLuong" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="SoLuong" type="number" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea asp-for="GhiChu" class="form-control" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                <span asp-validation-for="GhiChu" class="text-danger" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="yeucaumonan" class="btn btn-success pull-left">Quay lại</a>
                <input type="submit" value="Lưu" class="btn btn-warning pull-left" />
            </div>
        </div>
    </div>
</form>
