@model QuanLyNhaHang.Models.PHANHOI

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Chi tiết phản hồi khách hàng";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Phản hồi khách hàng";
    ViewData["action"] = "Chi tiết";
    ViewData["h2"] = "Chi tiết phản hồi khách hàng";
}
<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="TenNguoiPH" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="TenNguoiPH" class="form-control" />
                <span asp-validation-for="TenNguoiPH" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="NoiDung" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea disabled asp-for="NoiDung" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger" />
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="phanhoi" class="btn btn-success pull-left">Quay lại</a>
                <a asp-action="edit" asp-controller="phanhoi" class="btn btn-warning pull-left">Chỉnh sửa</a>
            </div>
        </div>
    </div>
</form>
