@model QuanLyNhaHang.Models.MONAN

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Thêm món ăn mới | Quản lý";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Món ăn";
    ViewData["action"] = "Tạo mới";
    ViewData["h2"] = "Thêm món ăn mới";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="MaMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="MaMon" class="form-control" />
                <span asp-validation-for="MaMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TenMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="TenMon" class="form-control" />
                <span asp-validation-for="TenMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaLoaiMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select asp-for="MaLoaiMon" class="select2_group form-control" asp-items="ViewBag.MaLoaiMon"></select>
                <span asp-validation-for="MaLoaiMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gia" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger" />
            </div>
        </div>
        
        
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="bienbansuco" class="btn btn-success pull-left">Quay lại</a>
                <input type="submit" value="Thêm" class="btn btn-primary pull-left" />
            </div>
        </div>
    </div>
</form>

