@model QuanLyNhaHang.Models.MONAN

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Xóa món ăn ";
    ViewData["areas"] = "Quản lý";
    ViewData["controller"] = "Món ăn";
    ViewData["action"] = "Xóa";
    ViewData["h2"] = "Xóa món ăn";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="MaMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="MaMon" class="form-control" />
                <span asp-validation-for="MaMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TenMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="TenMon" class="form-control" />
                <span asp-validation-for="TenMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaLoaiMon" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select disabled asp-for="MaLoaiMon" class="select2_group form-control" asp-items="ViewBag.MaLoaiMon"></select>
                <span asp-validation-for="MaLoaiMon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gia" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NgayTao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date" id='datetimepicker1'>
                    <input disabled type="datetime" asp-for="NgayTao" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span asp-validation-for="NgayTao" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NgayDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date" id='datetimepicker1'>
                    <input disabled type="datetime" asp-for="NgayDuyet" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    <span asp-validation-for="NgayDuyet" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiTao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="NguoiTao" class="form-control" />
                <span asp-validation-for="NguoiTao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NguoiDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="NguoiDuyet" class="form-control" />
                <span asp-validation-for="NguoiDuyet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrangThaiDuyet" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input disabled asp-for="TrangThaiDuyet" class="form-control" />
                <span asp-validation-for="TrangThaiDuyet" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GhiChu" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea disabled asp-for="GhiChu" class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"></textarea>
                <span asp-validation-for="GhiChu" class="text-danger" />
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="monan" class="btn btn-success pull-left">Quay lại</a>
                <input disabled type="submit" value="Xóa" class="btn btn-danger pull-left" />
            </div>
        </div>
    </div>
</form>

