@model QuanLyNhaHang.Models.LUOTKHACH

@{
    Layout = "~/Areas/Quan-ly/Views/Shared/_LayoutContent.cshtml";
    ViewData["Title"] = "Thêm l??t khách m?i | Qu?n lý";
    ViewData["areas"] = "Qu?n lý";
    ViewData["controller"] = "L??t khách";
    ViewData["action"] = "T?o m?i";
    ViewData["h2"] = "Thêm l??t khách m?i";
}
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-horizontal">

        <div class="form-group">
            <label asp-for="MaLuot" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="MaLuot" class="form-control" />
                <span asp-validation-for="MaLuot" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SoBan" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input asp-for="SoBan" class="form-control" />
                <span asp-validation-for="SoBan" class="text-danger" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="ThoiGianVao" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date datetimepicker1">
                    <input type="datetime" asp-for="ThoiGianVao" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="ThoiGianVao" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ThoiGianRa" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="input-group date datetimepicker1">
                    <input type="datetime" asp-for="ThoiGianRa" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="ThoiGianRa" class="text-danger" />
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a asp-action="search" asp-controller="bienbansuco" class="btn btn-success pull-left">Quay l?i</a>
                <input type="submit" value="L?u" class="btn btn-warning pull-left" />
            </div>
        </div>
    </div>
</form>
